<!DOCTYPE html>
<html lang="bg" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Запазване на час</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

<div class="top-header">
  <div class="contact">📞 0888 123 456</div>
  <div class="address">📍 гр. Русе, бул. Красота 19</div>
</div>

<header class="info">
  <nav>
    <ul>
<!--      <li><a th:href="@{/}">Начало</a></li>-->
      <li><a th:href="@{/home}">⬅ Назад към профила</a></li>
      <li><a th:href="@{/logout}">Изход</a></li>
    </ul>
  </nav>
</header>

<section class="hero">
  <div class="hero-text">
    <h1>Запазете час в салон "Bellezza"</h1>
    <p>Изберете услуга и дата, за да резервирате Вашия час удобно и бързо.</p>
  </div>
  <div class="reservation login-box" id="reservation">
    <h2>Резервация</h2>

    <!-- Съобщения -->
    <div th:if="${success}" class="success-message" th:text="${success}"></div>
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
    <div th:if="${noSuccess}" class="error-message" th:text="${noSuccess}"></div>

    <form th:action="@{/booking}" th:object="${appointmentRequest}" th:method="POST">

      <label for="appointmentDate">Дата и час:</label>
      <input type="text" th:field="*{appointmentDate}" id="appointmentDate"
             placeholder="Изберете дата и час"/>
      <div th:if="${#fields.hasErrors('appointmentDate')}" th:errors="*{appointmentDate}"
           class="error-message"></div>

      <label for="treatment">Услуга:</label>
      <select id="treatment" th:field="*{treatmentId}">
        <option value="">-- Избери услуга --</option>
        <option th:each="treatment : ${treatments}"
                th:value="${treatment.id}"
                th:text="${treatment.beautyTreatmentName.displayName}">
        </option>
      </select>
      <div th:if="${#fields.hasErrors('treatmentId')}" th:errors="*{treatmentId}"
           class="error-message"></div>

      <button type="submit">Запази час</button>
    </form>
  </div>
</section>

<th:block th:insert="~{fragments/footer :: my-footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/bg.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    flatpickr("#appointmentDate", {
      enableTime: true,
      time_24hr: true,
      dateFormat: "Y-m-d\\TH:i",
      minDate: "today",
      minTime: "09:00",
      maxTime: "19:00",
      locale: "bg"
    });
  });
</script>

</body>
</html>

