<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beauty salon</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<!-- Top Header -->
<div class="top-header">
  <div class="contact">📞 0888 123 456</div>
  <div class="address">📍 гр. Русе, бул. Красота 19</div>
</div>

<!-- Навигация -->
<header class="info">
  <nav>
    <ul>
      <li><a href="/">Начало</a></li>
      <li><a th:href="@{/about-us}">За нас</a></li>
      <li><a th:href="@{/team}">Екип</a></li>
    </ul>
  </nav>
</header>

<!-- Hero секция -->
<section class="hero">
  <div class="hero-text">
    <h1>Добре дошли в салон за красота "Bellezza"</h1>
    <p>Подарете си лукс, грижа и релакс с нашите професионални услуги.</p>
    <!-- ????????? -->
    <!--    <a href="#reservation" class="btn">Запази час</a>-->
    <a href="#reservation" class="btn" th:href="@{/register}">Регистрация</a>
    <a href="#reservation" class="btn" th:href="@{/login}">Вход</a>
  </div>
</section>

<!-- Основен контейнер -->
<main class="container">
  <!-- Лява част -->
  <div class="about">
    <h2>За салона</h2>
    <p>Добре дошли в салон за красота "Bellezza" – мястото, където красотата среща професионализма!!
      🌸</p>
    <p>
      В нашия салон ще откриете уют, стил и индивидуален подход. Предлагаме фризьорски услуги,
      маникюр и козметика, съчетани с внимание към детайла и най-новите тенденции.
    </p>
    <p>Нашата мисия е да подчертаем вашата естествена красота и да превърнем всяко посещение в малък
      ритуал на грижа и релакс. Доверете ни се и се насладете на момента!
    </p>
  </div>

</main>

<th:block th:insert="~{fragments/footer :: my-footer}"></th:block>

</body>
</html>