<!DOCTYPE html>
<
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team</title>
  <link rel="stylesheet" type="text/css" href="/css/team.css">
</head>
<body>

<div class="top-header">
  <div class="contact">📞 0888 123 456</div>
  <div class="address">📍 гр. Русе, бул. Красота 19</div>
</div>

<header class="info">
  <nav>
    <ul>
      <li><a href="/">Начало</a></li>
      <li><a th:href="@{/team}">За нас</a></li>
      <!--      <li><a th:href="@{/static}">Услуги</a></li>-->
      <li><a th:href="@{/login}">Влез</a></li>
    </ul>
  </nav>
</header>

<section class="hero">
  <div class="hero-text">
    <h1>Екип на салон за красота "Bellezza"</h1>
  </div>
</section>

<!-- Основен контейнер -->
<main class="container">
  <!-- Лява част -->
  <div class="about">
    <h2>Луна Локона</h2>
    <p>
      Луна обожава да създава впечатляващи прически и уникални стилове за всеки клиент, превръщайки
      всяка прическа в истинско произведение на изкуството. Клиентите й винаги излизат с усмивка и
      стилна визия.
    </p>
    <div class="picture" id="picture">
      <img src="https://images.pexels.com/photos/3268732/pexels-photo-3268732.jpeg" alt="">
    </div>
  </div>

  <!-- Дясна част - форма -->
  <div class="about">
    <h2>Бъбъл Нейлс</h2>
    <p>
      Бъбъл е майстор на цветните и креативни нокти. Всяка нейна декорация е малка история,
      изпълнена с настроение и индивидуалност.
    </p>
    <div class="picture" id="picture">
      <img src="https://images.pexels.com/photos/3997348/pexels-photo-3997348.jpeg" alt="">
    </div>
  </div>

  <div class="about">
    <h2>Скин Куийн</h2>
    <p>
      Скин Куийн е магьосница в грижата за кожата. Комбинира професионални техники с релакс и
      внимание към детайла, за да остави всеки клиент с сияйна кожа и добро настроение.
    </p>
    <div class="picture" id="picture">
      <img src="https://images.pexels.com/photos/16120490/pexels-photo-16120490.jpeg" alt="">
    </div>
  </div>
</main>

<th:block th:insert="~{fragments/footer :: my-footer}"></th:block>

</body>
</html>
